

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

@media only screen and (max-width: 600px) {
    .className {
        top: 'auto';
        left: 'auto';
        right: 'auto';
        bottom: 'auto';
        margin-right: '-50%';
        transform: 'translate(-50%, -50%)';
        width: '90%';
        height: 'auto'
    }
}