body {
    /* background-image: url('../images/dayCamp3.jpg'); */
    /* background-size: cover;  */
    /* background-position: 0% 15%; */
    /* border: 2px solid green; */
    /* background: green; */
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.theNavbar {
    background-color: transparent;
}

.theSearchNavbar {
    background-color: white;
    border-bottom: 1px solid rgba(129, 129, 129, 0.247);
}

.theRegisterNavbar {
    background-color: transparent;
}

.theLoginNavbar {
    background-color: transparent;
}

.theDashboardNavbar {
    background-color: white;
    border-bottom: 1px solid rgba(129, 129, 129, 0.247);
}

.theModalNavbar {
    background-color: transparent;
}

#theNavbar {
    font-family: monospace;
    position: absolute;
    left: 120px;
}

#theDashboardNavbar {
    font-family: monospace;
}

#theLoginNavbar {
    font-family: monospace;
    position: absolute;
    left: 120px;
}

#theRegisterNavbar {
    font-family: monospace;
    position: absolute;
    left: 120px;
}

#theSearchNavbar {
    font-family: monospace;
}

#theModalNavbar {
    font-family: monospace;
    position: absolute;
    left: 120px;
}

#landingCard {
    height: 500px;
    width: 400px;
    border-radius: 4px;
    padding: 30px;
    /* position: relative;
    right: 120px; */
    /* padding-bottom: 35px; */
    /* padding-bottom: 20px; */
    /* display: flex;
    align-items: flex-end; */
    background-color: rgb(255, 255, 255);
}

#landingForm {
    margin-top: 0px;
    margin-bottom: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid red;  */
    position: relative;
    top: 30px;
}

#landingForm > input {
    width: 95%;
    padding-left: 10px;
    background: white;
}

input::placeholder {
    color: darkslategrey;

}

#cardboxParent {
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#cardParent {
    width: 90%;
    padding-top: 40px;
}

#cardHeader {
    color: #484848;
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
}

#slide-out {
    position: absolute;
}

#registerCard {
    /* border: 2px solid darkred; */
    padding: 20px;
    border-radius: 10px;
    background: white;
    padding-bottom: 30px;
}

.anyCard {
    /* border: 2px solid darkred; */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: white;
    padding-bottom: 30px;
}


.registerInput {
    margin: 0px;
}

.dashboardCard {
    background-color: white;
    border-radius: 3px;
    padding: 30px;
}

#searchContainer {
    width: 100%;
}

#parametersBox {
    min-height: 1000px;
    background: white;
    border: 1px solid black;
    padding: 20px;
}

#resultsBox {
    min-height: 100vh;
    background: white;
    /* border: 1px solid black; */
    padding: 20px; 
}

.result {
    height: 300px;
    border: 2px solid green;
}

.priceBox {
    padding: 0px;
    border: 1px solid black;
    height: 30px;
}

/* card styling ========================================= */
.resultCardContainer {
    padding: 0px;
    overflow: auto;
    height: 340px;
    /* border: 2px solid green; */
}

.resultCard {
    /* border: 2px solid blue; */
    overflow: auto;
    height: 90%;
    border-radius: 5px;
    margin: 10px;
}

.resultCard:hover {
    /* box-shadow:  2px; */
    cursor: pointer;
}

.cardImageContainer {
    width: 100%;
    max-width: 100%;
    height: 75%;
    max-height: 80%;
    /* border-bottom: 1px solid grey; */
    overflow: hidden;
    display: flex;
    align-items: center;
    overflow: contain;
    position: relative;
}

.cardImage {
    overflow: hidden;
    max-height: 340px;
    display: block;
    height: 100%;
    width: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.cardPrice {
    font-weight: bold;
    margin-top: 0px;
    font-size: 14px;
}

.cardName {
    font-weight: bold;
    /* margin-top: 0px; */
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.perDayText {
    color: gray;
    margin-top: 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;   
    /* display: block; */
}

.cardInfoContainer {
    height: 25%;
    overflow: auto;
    padding: 5px;
}

.cardLocation {
    color: gray;
    font-size: 12px;
}

.cardButton {
    position: relative;
    bottom: 4px;
    letter-spacing: 1.5px;
    background-color: rgb(255, 187, 0);
    font-weight: 500;
    visibility: hidden;
}

#searchButton {
    position: relative;
    top: 8px;
    background-color: black;
    margin-bottom: 8px;
    letter-spacing: 1.5px;
}

#searchButton:hover {
    background-color: black;
    opacity: 85%;
}

#registerButton {
    background-color: transparent;
    color: black;
    box-shadow: none;
}

.navButton {
    background: transparent;
    border: 0px;
    height: 64px;
    font-size: 12px;
    border-bottom: 2px solid transparent;
    width: auto;
    letter-spacing: 1.5px;
    padding: 0px;
    font-weight: 600;
}

.homeNavButton:hover {
    border-bottom: 2px solid #616161;
    background: transparent;
}

.searchNavButton:hover {
    border-bottom: 2px solid #616161;
    background: transparent;
}

.modalNavButton:hover {
    border-bottom: 2px solid #616161;
    background: transparent;
}

.dashboardNavButton:hover {
    border-bottom: 2px solid #616161;
    background: transparent;
}

.loginNavButton:hover {
    border-bottom: 2px solid #616161;
    background: transparent;
}


/* === */

.littleSquare {
    /* background-image: url('../images/heart.png'); */
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    border: 5px solid transparent;
    visibility: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.resultCard:hover .littleSquare {
    visibility: visible;
}

.littleSquare:hover {
    /* border: 2px solid red; */
    /* background-image: url('../images/filledHeart.png'); */
}

.littleSquare:focus {
    /* background-image: url('../images/filledHeart.png'); */
}

/* .fontColor {
    color: #484848;
} */

.productDetails {
    height: 450px;
}

.rentalButton {
    width: 100%;
    background-color: black;
    letter-spacing: 1.5px;
}

.rentalButton:hover {
    background-color: black;
    opacity: 85%;
}

.rentalButton:focus {
    background-color: black;
}

.landingButton {
    width: 100%;
    background-color: black;
    letter-spacing: 1.5px;
}

.landingButton:hover {
    background-color: black;
    opacity: 85%;
}

.landingButton:focus {
    background-color: black;
}

.dashboardButton {
    background-color: black;
    color: white;
    letter-spacing: 1.5px;
}

.dashboardButton:hover {
    background-color: black;
    opacity: 85%;
}

.dashboardButton:focus {
    background-color: white;
    border: 2px solid black;
    color: black;
}